.nativeProgressUpload .nativeProgressUpload__btn {
    display: block;
    padding: 8px 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    color: var(--shop-white-color);
    background: var(--shop-upload-btn-color);
}

.nativeProgressUpload .nativeProgressUpload__btn:hover {
    text-decoration: none;
	color: var(--shop-white-color);
}

.nativeProgressUpload .apuf_fixed_block {
    min-width: 300px; 
	margin-top: 20px;	
}

.nativeProgressUpload .apuf_block {
    background: #eceef0;
    border-radius: 5px;
    overflow: hidden;
}

.nativeProgressUpload .apuf_progress {
    position: relative;
    width: 100%;
}

.nativeProgressUpload .apuf_bar {
    background-color: var(--shop-upload-btn-color);
    height: 28px;
    color: var(--shop-white-color);
    width: 0;
}

.nativeProgressUpload .apuf_percent {
    display: inline-block;
    left: 45%;
    position: absolute;
    top: 6px;
    color: var(--shop-white-color);
}

.nativeProgressUpload .apuf_status {
    width: 100%;
    word-break: break-word;
}

.nativeProgressUpload .apuf_status {
    display: none;
}

.nativeProgressUpload .apuf_status_error {
    display: block;
}

.nativeProgressUpload .nativeProgressUpload-imageInfo__link {
    display: inline-block;
}

.nativeProgressUpload .nativeProgressUpload-imageInfo {
    margin-top: 15px;
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__wrapper,
.native-uploads-previews .native-uploads-preview .native-uploads-preview__imgInfo {
    padding: 6px 6px 0 6px;
    box-shadow: 0px 0px 13px 0px #858997;
    border-radius: 5px;
    text-align: center;
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__img {
    max-width: 100%;
    height: auto;
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__description,
.native-uploads-previews .native-uploads-preview .native-uploads-preview__description {
    color: #e8e8e8;
    font-size: 11px;
    padding-bottom: 4px;
    word-break: break-all;
    text-align: left;
}

.native-uploads-previews .native-uploads-preview .native-uploads-preview__description {
    margin-top: 5px;
    font-weight: normal;
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__description-link,
.native-uploads-previews .native-uploads-preview .native-uploads-preview__description-link {
    color: #e8e8e8;
}

.native-uploads-previews .native-uploads-preview .native-uploads-preview__description-link {
    font-size: 13px;
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__removeFile {
    text-align: right;
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__removeFileLink {
    display: inline-block;
    color: var(--shop-upload-remove_file-color);
    border: 1px solid var(--shop-upload-remove_file-color);
    padding: 10px;
    border-radius: 5px;
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__removeFileLink:hover {
    color: var(--shop-white-color);
    background: var(--shop-upload-remove_file-color);
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__describeInput,
.native-uploads-previews .native-uploads-preview .native-uploads-preview__describeInput {
    height: 45px;
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 20px;
    border: 1px solid var(--shop-grey-color);
    color: var(--shop-grey-color);
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__describeInput::-webkit-input-placeholder,
.native-uploads-previews .native-uploads-preview .native-uploads-preview__describeInput::-webkit-input-placeholder {
    text-align: center;
}
 
.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__describeInput:-moz-placeholder,
.native-uploads-previews .native-uploads-preview .native-uploads-preview__describeInput::-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__describeInput::-moz-placeholder,
.native-uploads-previews .native-uploads-preview .native-uploads-preview__describeInput::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__describeInput:-ms-input-placeholder,
.native-uploads-previews .native-uploads-preview .native-uploads-preview__describeInput::-ms-input-placeholder {  
    text-align: center; 
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__qty,
.native-uploads-previews .native-uploads-preview .native-uploads-preview__qty {
    text-align: right;
}

.nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__qtyInput,
.native-uploads-previews .native-uploads-preview .native-uploads-preview__qtyInput {
    display: inline-block;
    width: 107px;
    margin-bottom: 23px;
}

.nativeMultiuploadProgressHeader {
    margin-bottom: 15px;
}

.nativeMultiuploadProgressHeader .nativeMultiuploadProgressHeader__max {
    color: #828e9d;
    font-size: 18px;
}

.nativeMultiuploadProgressHeader .nativeMultiuploadProgressHeader__newUpload {
    text-align: right;
}

.nativeMultiuploadProgressHeader .nativeMultiuploadProgressHeader__newUpload .nativeMultiuploadProgressHeader__newUploadLink {
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid var(--shop-upload-btn-color);
    border: 1px solid var(--shop-upload-btn-color);
    border-radius: 5px;
}

.cartUploadedeDataForNonSupportUpload .native-uploads-preview__qty input.native-uploads-preview__qtyInput {
	display: inline-block !important;
    background: #e9ecef !important;
}

.box__file{
	display:none;}

.dropzone {
  width: 100%;  
  border: 2px dashed #aaa;
  color: #aaa;
  padding-top: 50px;
  text-align: center;}

.dropzone.dragover {
  color: green;
  border: 2px dashed #000;}  
  
.preview_upload img {
  max-width: 250px;
}
.upload_block {
  width: 100%;
  float: left;
}
.product_stone .nativeProgressUploads__rows .col-md-12 {
  background: rgba(245, 245, 245, 0.9);
  border-radius: 5px;
  margin-bottom: 0 !important;
  margin-left: 15px;
  max-width: calc(100% - 30px);
  padding: 15px;
  border-top: 1px solid #ccc;
  border-radius: 0;
}

.product_stone .nativeMultiuploadProgressHeader {
  padding: 15px;
  margin-bottom: 0;
}

.product_stone .nativeProgressUpload .nativeProgressUpload-imageInfo .nativeProgressUpload-imageInfo__description-link,
.product_stone .native-uploads-previews .native-uploads-preview .native-uploads-preview__description-link {
  color: #000;
}

.nativeProgressUpload .nativeProgressUpload__btn {
  margin-bottom: 0 !important;
}

.nativeProgressUpload--uploaded .nativeProgressUpload__btn {
  display: none;
}
