<ROOT_URL>http://licenser-joomla.loc</ROOT_URL><CLIENT_EMAIL>sahid.hossen@volksbyte.com</CLIENT_EMAIL><LICENSE_CODE></LICENSE_CODE><LCD>dkdJeXhFS0lvWTlNTW00a3hrckJTUT09Ojp9t2lg06rf0IU75m+KPLF0</LCD><LRD>bnZzOHl5VitGWUF5WGpzTEVxSmhVZz09OjpIoFHlHqmmsMJWd0Q84Yod</LRD><INSTALLATION_KEY>NVZEcFhqbWFHOFZzNkd5VkpZWVlRZ3hoZTl3TEdOak5QRzdUVlN1Um1tcXpiYTBkYzRsTmF1MFZCcWVDdGRPVm9JVFRSdXByeTQrdC9lbmhhOVhiNXc9PTo6RAPPBw5OHDAWEpm0pJWBJw==</INSTALLATION_KEY><INSTALLATION_HASH>f44d5ab9f55e46b2afdecca8468f99870a2a896c154e429ca2eb42780c32aeac</INSTALLATION_HASH>