<ROOT_URL>http://licenser-joomla.loc</ROOT_URL><CLIENT_EMAIL>sahid.hossen@volksbyte.com</CLIENT_EMAIL><LICENSE_CODE></LICENSE_CODE><LCD>N1JuSlFvTEs1a3J2THZyamJPcTZIUT09OjrZbDm/j0VrXmJY0Ra91ptU</LCD><LRD>Mi81cUErRCt2SE83OWI5UVE4MkRldz09OjrGRIjvyNK570fKsnk0tNtB</LRD><INSTALLATION_KEY>TkFOM1RTNVFZOWp0T3BJRjVOTjZaWk5RQllzQm9Tc0hBbS8yZ2JoU1ExNDZCNjdPU0dNSlN2cmt5ZFdBeU5aNTR0bnVaMW9mZVF2Q3JZNUtmbUZMdWc9PTo6tTrgTYlsjawHryICtks6mA==</INSTALLATION_KEY><INSTALLATION_HASH>f44d5ab9f55e46b2afdecca8468f99870a2a896c154e429ca2eb42780c32aeac</INSTALLATION_HASH>